/* CSS for Simple Elements is defined below. */
body {
    background-color: #f4f6f9;
}
button {
    height: 20px;
    color: black;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    transition-duration: 1s;
}
thead, thead th {
    border: 3px solid black;
    border-collapse: separate;
}
table {
    outline: 3px solid black;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    width: 75%;
}
table.page7 tr, table.page7 td {
    width: auto;
    border: 1px solid black;
    border-collapse: separate;
}
table.page1 th, table.page1 td{
    border: 1px solid black;
    color: darkblue;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    border-radius: 10px;
    display: flex;
}
ul li {
    border-right: 1px solid #f4f6f9;
}
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}
/* CSS for elements with classes */ 
div.displaycard {
    right: 100px;
    position: fixed;
}
input.searchboxes {
    height: 20px;
    width: 320px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

div.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    border-radius: 10px; 
    margin: 5px;
    padding: 10px 0px;
}
/* CSS for elements with pseudo-classes */
button:hover {
    color:aqua;
    background-color:whitesmoke;
}
/* CSS for Simple Classes is defined below. */
.buttonclass {
    color: red;
    background-color: white;
    border: 1px solid blue;
    padding: 5px;
    height: auto;
    width: auto;
}
.totalbodybox {
    display: flex;
    flex-direction: row;
}
.cart-box {
    border: 1px solid black;
    border-radius: 5px;
}
.menu {
    display: inline-block;
    margin: 0 15px;
    background-color: rgba(176, 176, 216, 0.18);
    border-radius: 5px;
}
.welcome-message {
    height: auto;
    width: 20%;
    color: black;
    border: 30px solid aquamarine;
    border-radius: 40px;
    background-color: aquamarine;
    clip-path: circle();
}
.divcol {
    margin: 5px;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: skyblue;
    color: darkblue
}
.divcol2 {
    margin: 5px;
    width: 280px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: skyblue;
    color: darkblue
}
.productcards {
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: skyblue;
    border-radius: 10px;
    text-align: center;
}
.divrow {
    margin: 10px;
    display: flex;
    width: 1180px;
    background-color: skyblue;
    border-radius: 10px;
    text-align: center;
}
.cart-main-box {
    background-color: darkblue;
    padding: 10px;
    border-radius: 5px;
    max-height: 430px;
    position: sticky;
    top: 100px;
}
.cartitembox {
    background-color: lightgreen;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.smallpic {
    height: 50px;
    width: 50px;
}
/* CSS for classes with pseudo-classes */
.cartitembox:hover {
    background-color: aqua;
}
/* CSS for Simple IDs is defined below. */
#products-menu-box {
    background-color: blue;
    height: 200px;
    max-width: 65%;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    height:auto;
    text-align: center; 
    overflow:auto;
}
#products-menu {
    display: flex;
    flex-wrap: wrap;
}
#cart-container {
    max-height: 65%;
    overflow: auto;
    scroll-behavior: auto;
}
/* CSS for IDs with pseudo-classes */
#a2:hover
{
    background-color: white;
    color:green;
    font-size:56px;
}